{{ 'map-finder.css' | asset_url | stylesheet_tag }}

<script src="{{app.js | asset_url}}" defer="defer"></script>
<script src="{{locations.js | asset_url}}" defer="defer"></script>


<script>
  console.log(CONFIGURATION.locations);
</script>



<div class="template-404 page-width page-margin center">
  {% for product in collections["Camps"].products %}
    {{ product.title }}
  {% else %}
    The collection is empty.
  {% endfor %}
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>