{{ 'locations.js' | asset_url | script_tag }}
{{ 'index.html' | asset_url | script_tag }}

{% javascript %}
var locations = [];
for (let index = 0; index < CONFIGURATION.locations.length; index++) 
{
  locations[index] = CONFIGURATION.locations[index]; 
}
console.log(locations);
console.log("1");
{% endjavascript %}

{% assign locationVar = locations %}

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <h1 class="title" data-js-variable="{{ locations[0] }}"></h1>
  {% for item in locations %}
    <h1 class="title">
      {{item.title}}
    </h1>
  {% endfor %}
  <a href="{{ routes.all_products_collection_url }}" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>

</div>